.about-me__phrase {
  font: 400 1rem var(--font-jost);
  margin-top: 1rem;
}

.about-me__highlight {
  font-weight: 600;
}

.about-me__skills {
  display: flex;
  gap: .250rem;
  list-style-type: none;
  margin-top: .125rem;
}

.about-me__skill {
  font: 400 1rem var(--font-jost);
}

.about-me__skill:not(:last-of-type)::after {
  content: ",";
  font-weight: 400;
}