.about-me__title {
  font-size: 2rem;
  font-weight: 600;
}

.about-me__phrase {
  font-weight: 300;
  margin: 1rem auto;
}

.about-me__highlight {
  font-weight: 600;
}

.about-me__skills {
  display: flex;
  gap: .25rem;
  list-style-type: none;
}

.about-me__skill {
  font-family: inherit;
  font-weight: 600;
}

.about-me__skill:not(:last-of-type)::after {
  content: ",";
  font-weight: 300;
}