.about-me__title {
  font-size: 2rem;
  font-weight: 600;
}

.about-me__phrase {
  font-weight: 300;
  margin-top: 1rem;
}

.about-me__highlight {
  font-weight: 600;
}

.about-me__skills {
  display: flex;
  gap: .125rem;
  list-style-type: none;
}

.about-me__skill {
  font: 400 1rem var(--font-ibm);
}

.about-me__skill:not(:last-of-type)::after {
  content: "|";
  font-weight: 300;
}