.footer__container {
  align-items: flex-start;
  display: flex;
  height: 10vh;
  justify-content: space-between;
}

.footer__copy {
  font-size: .875rem;
  font-weight: 300;
  user-select: none;
}

.footer__author {
  font-size: .875rem;
  font-weight: 300;
}