.footer__container {
  align-items: center;
  display: flex;
  height: 5vh;
  justify-content: space-between;
}

.footer__copy {
  font: 300 .875rem var(--font-jost);
  user-select: none;
}

.footer__author {
  font: 300 1rem var(--font-jost);
}