.footer__container {
  align-items: center;
  display: flex;
  height: 15vh;
  justify-content: space-between;
}

.footer__copy {
  font: 300 .875rem var(--font-poppins);
  user-select: none;
}

.footer__author {
  font: 300 .875rem var(--font-poppins);
}