.form__fieldset {
  border: none;
  display: grid;
  gap: 1.625rem;
  grid-template-columns: 1fr 1fr;
  margin: 2rem auto;
}

.form__input {
  background-color: transparent;
  border: none;
  color: var(--color-font);
  font: 400 1rem var(--font-geist);
  outline: none;
  width: 100%;
}

.form__textarea {
  background-color: transparent;
  border: none;
  color: var(--color-font);
  font: 400 1rem var(--font-geist);
  outline: none;
  resize: none;
  width: 100%;
}