.form__fieldset {
  border: none;
  display: grid;
  gap: 1.625rem;
  grid-template-columns: 1fr 1fr;
  margin: 2rem auto;
}

.form__input {
  background-color: transparent;
  border: none;
  color: var(--color-font);
  font: normal 400 1rem var(--font-mona);
  outline: none;
  width: 100%;
}

.form__textarea {
  background-color: transparent;
  border: none;
  color: var(--color-font);
  font: normal 400 1rem var(--font-mona);
  outline: none;
  resize: none;
  width: 100%;
}

.form__btn {
  border: thin solid var(--color-font);
  cursor: pointer;
  margin-left: .875rem;
}

.form__btn-span {
  background-color: var(--color-font);
  bottom: 4px;
  color: var(--color-bg);
  display: block;
  font: semi-condensed 600 1rem var(--font-mona);
  padding: .875rem 2.125rem;
  position: relative;
  right: 4px;
}

.form__btn:active .form__btn-span {
  border: none;
  transform: translate(4px, 4px);
}