@import url(./menu.css);
@import url(./sections.css);
@import url(./about.css);
@import url(./posts.css);
@import url(./footer.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #F5F5F5;
  --font-color: #1B1B1B;
  --highlight-color: #EB5E28;
  --icon-color: rgba(27, 27, 27, .5);
}

html, body {
  -webkit-font-smooth: antialiased;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: 'Poppins', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  margin: 0 auto;
  max-width: 1280px;
  width: 40%;
}