@import url(./header.css);
@import url(./main.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #E6E6E6;
  --font-color: #39393A;
}

html, body {
  -webkit-font-smooth: antialiased;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: 'Poppins', sans-serif;
}

.content__layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 50%;
}

.social__anchor--container {
  color: inherit;
  display: flex;
  gap: .25rem;
  text-decoration: inherit;
}