@import url(./header.css);
@import url(./main.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #E0E0E0;
  --font-color: #1F1F1F;
  --highlight-color: #2D649F;
}

html, body {
  -webkit-font-smooth: antialiased;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: 'Poppins', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 45%;
}