header {
  align-items: center;
  display: flex;
  gap: 2rem;
  height: 10vh;
  justify-content: center;
}

.menu__container {
  display: flex;
  gap: .75rem;
  list-style-type: none;
}

.menu__link {
  color: inherit;
  font-weight: 300;
  text-decoration: none;
}

.menu__link--highlight {
  animation: highlight 0s forwards;
}

@keyframes highlight {
  from {
    color: inherit;
  }
  to {
    color: var(--highlight-color);
  }
}

.menu__github {
  color: inherit;
}

.menu__github:hover {
  color: var(--highlight-color);
}

.menu__btn-tema {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

.menu__btn-tema:hover {
  color: var(--highlight-color);
}