.nav__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 10vh;
  justify-content: center;
  list-style-type: none;
}

.nav__link {
  color: inherit;
  text-decoration: inherit;
  padding: .25rem;
}

.nav__link--border {
  animation: border 2s forwards;
}

@keyframes border {
  from {
    border-bottom: 1px solid rgba(15, 15, 15, 0);
  }
  to {
    border-bottom: 1px solid rgba(15, 15, 15, 1);
  }
}

.nav__link--font {
  font-weight: 300;
  text-transform: lowercase;
}