.menu {
  align-items: center;
  display: flex;
  gap: 1rem;
  height: 10vh;
  justify-content: center;
}

.menu__container {
  display: flex;
  gap: .5rem;
  list-style-type: none;
}

.menu__link {
  color: inherit;
  padding: .15rem;
  text-decoration: none;
}

.menu__link--font {
  font-weight: 300;
  text-transform: lowercase;
}

.menu__link--highlight {
  animation: highlight .75s forwards;
}

@keyframes highlight {
  from {
    font-weight: inherit;
    border-bottom: 1px solid rgba(15, 15, 15, 0);
  }
  to {
    font-weight: 400;
    border-bottom: 1px solid rgba(15, 15, 15, .45);
  }
}

.menu__icon {
  color: inherit;
  width: min-content;
}

.menu__button {
  border: none;
  cursor: pointer;
}