.menu__container {
  align-items: flex-end;
  display: flex;
  gap: .875rem;
  height: 15vh;
  justify-content: flex-start;
}

.menu__links-container {
  align-items: baseline;
  display: flex;
  gap: .875rem;
  list-style-type: none;
}

.menu__link {
  color: var(--color-black);
  font: 400 1rem var(--font-geist);
  position: relative;
  text-decoration: none;
  text-transform: lowercase;
}

.menu__link::after {
  background-color: hsla(0, 0%, 75%, 1);
  content: "";
  display: block;
  height: 2px;
}

.menu__link::before {
  background-color: var(--color-black);
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  width: 100%;
}

.menu__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.menu__link--active::after {
  background-color: var(--color-black);
  content: "";
  display: block;
  height: 2px;
}

.menu__btn-theme {
  background: transparent;
  border: none;
  color: var(--color-black);
  cursor: pointer;
  font-size: 1rem;
}