header {
  align-items: flex-end;
  display: flex;
  gap: .875rem;
  height: 15vh;
  justify-content: flex-start;
}

.menu__container {
  align-items: baseline;
  display: flex;
  gap: .875rem;
  list-style-type: none;
}

.menu__link {
  color: inherit;
  font: 400 1rem var(--font-space);
  position: relative;
  text-decoration: none;
  text-transform: lowercase;
  z-index: 1;
}

.menu__link::before {
  background-color: hsla(17, 83%, 54%, 1);
  bottom: 3px;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  transition: all .3s ease-in-out;
  width: 100%;
  z-index:-1;
}

.menu__link:hover::before {
  bottom: 0;
  height: 100%;
}

.menu__btn-theme {
  background: transparent;
  border: none;
  color: var(--color-font);
  cursor: pointer;
  font-size: 1rem;
}