header {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: space-between;
}

.menu__container {
  display: flex;
  gap: .75rem;
  list-style-type: none;
}

.menu__link {
  color: inherit;
  font-weight: 300;
  text-decoration: none;
}

.menu__link--highlight {
  animation: highlight 0s forwards;
}

@keyframes highlight {
  from {
    color: inherit;
  }
  to {
    color: var(--highlight-color);
  }
}

.menu__icon {
  color: var(--icon-color);
  font-size: 1.25rem;
}

.menu__icon:hover {
  color: var(--highlight-color);
}

.menu__btn-theme {
  background: transparent;
  border: none;
  color: var(--icon-color);
  cursor: pointer;
  font-size: 1.25rem;
}

.menu__btn-theme:hover {
  color: var(--highlight-color);
}