.posts__links {
  display: flex;
  flex-direction: column-reverse;
  gap: .25rem;
  list-style-type: none;
  margin: 1rem auto;
}

.posts__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.posts__link {
  color: inherit;
  font: 400 1rem var(--font-space);
  text-decoration: none;
}

.posts__date {
  font: 400 1rem var(--font-space);
  user-select: none;
}