.posts__links {
  display: flex;
  flex-direction: column-reverse;
  gap: .250rem;
  list-style: none;
  margin: 1rem auto;
}

.posts__container {
  border-radius: 4px;
  border: solid thin var(--color-silver);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.250rem 1rem;
  text-decoration: none;
}

.posts__container:hover {
  border-color: var(--color-blue);
}

.post__title {
  color: var(--color-font);
  font: semi-condensed 600 1.250rem var(--font-hubot);
  margin-bottom: 1rem;
}

.post__description {
  color: var(--color-font);
  font: normal 400 1rem var(--font-hubot);
}